<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/CODE/Java/Automation/test">
        <classes>
            <class name="tests.TestLoginPage"></class>
            <class name="tests.TestRegisterPage"></class>
        </classes>

    </test>
</suite>